# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
google-cloud-bigquery
s3fs
praw
fastapi
uvicorn
httpx

# utilities
six>=1.14
joblib
memoized-property
termcolor

# Model
#
sentence-transformers #--upgrade

# Others
streamlit
colorama
